@CHARSET "UTF-8";

body {
	background-color: #FFF;
	text-align: center;
	font: 90% Tahoma, sans-serif;
	line-height: 185%;
	word-spacing: .005em;
}

#ign-container {
	width: 1000px;
	text-align: left;
	margin: 0 auto;
}

#ign-contentbody {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.ign-heading h1 {
	float: right;
	margin-top: 50px;
	margin-right: 165px;
}

#ign-headernav {
	float: right;
	width: 100%;
	color: #ccc;
	text-align: right;
}

#ign-headernav ul,#ign-headernav li {
	list-style: none;
	margin-top: 20px;
}

#ign-headernav ul {
	margin-right: 0px;
}

#ign-headernav li {
	font-size: 1.6em;
	display: inline;
	font: 125% Century Gothic, Futura, sans-serif;
}

#ign-headernav li a {
	color: #A0A3A6;
	text-decoration: none;
	margin: 0 0 0 15px;
}

#ign-headernav li a:hover {
	color: #ccc;
	text-decoration: none;
	border-bottom: 1px solid #F2F5EE;
	margin: 0 0 0 15px;
}

#ign-content {
	float: left;
	width: 775px;
	background-color: transparent;
	color: #293237;
	margin: 0 0 10px;
	padding: 0px 5px;
}

#ign-content h2 { /* color:#616A73; */
	color: #293237;
	/* margin-top:35px; */
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	/* Vaadin */
	margin-top: 46px;
	padding-bottom: 25px;
}

#ign-content h2 a {
	color: #293237;
}

#ign-content a {
	color: #616A73;
	text-decoration: none;
}

#ign-content a:hover {
	color: #616A73;
	text-decoration: underline;
}

#ign-content p {
	color: #293237;
	text-indent: 0px;
	padding: 5px 10px;
}

.date {
	color: silver;
	text-align: right;
	margin-bottom: 10px;
	background-color: #FFF;
	border-bottom: 1px solid #ccc;
}

fieldset {
	border: 1px solid #ccc;
}

textarea.ign-text {
	height: 150px;
	width: 90%;
	border: 1px solid #ccc;
	background: #fff;
	color: #293237;
}

textarea.ign-text:hover {
	border: 1px solid silver;
	background: #fff;
	color: #293237;
}

input.field,input.v-filterselect {
	width: 200px;
	border: 1px solid #ccc;
	background: #fff;
	color: #293237;
}

input.field:hover,input.v-filterselect:hover {
	border: 1px solid silver;
	background: #fff;
	color: #293237;
}

input.ign-text {
	width: 120px;
	padding: 2px;
	border: 1px solid #616A73;
	background: #FFF;
	color: #293237;
	margin: 0;
}

input.ign-text:hover {
	border: 1px solid #eee;
}

input.ign-searchbutton {
	font-size: 90%;
	font-family: Arial, Sans-serif;
	border: none;
	background: #FFF;
	color: #616A73;
	font-weight: 700;
	padding: 3px 2px 1px 2px;
	border: 1px solid #616A73;
}

input.button {
	background: #FFFFF4;
	color: gray;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#ign-bottom {
	float: right;
	width: 205px;
	margin-top: 20px;
	color: #293237;
	padding: 15px 0;
}

#ign-bottom #ign-left {
	width: 9	5%;
}

#ign-bottom #ign-right {
	width: 45%;
}

#ign-left {
	float: left;
	margin-bottom: 20px;
	padding: 10px 5px;
	width: 95%;
}

#ign-left h2,#ign-left h3 {
	color: #616A73;
	margin-top: 25px;
	padding-bottom: 5px;
}

.ign-block ul {
	width: 90%;
	margin: 4px 0;
	padding: 0;
}

.ign-block li {
	border-top: 1px dashed #ccc;
	list-style: none;
}

.ign-block li a,.ign-block li em {
	color: #293237;
	display: block;
}

.ign-block li em {
	font-size: 0.9em;
	font-style: normal;
}

.ign-block li a {
	text-decoration: none;
	width: 100%;
	padding: 4px 3%;
}

.ign-block li a:hover {
	background: #f2f5ee;
	color: #293237;
}

.ign-block li ul li {
	padding-left: 45px;
	list-style: none;
}

.more {
	margin-left: 10px;
}

.ign-credits ul {
	width: 90%;
	margin: 4px 0;
	padding: 0;
}

.ign-credits li {
	list-style: none;
}

.ign-credits li a,.ign-credits li em {
	color: #293237;
	display: block;
}

.ign-credits li em {
	font-size: 0.9em;
	font-style: normal;
}

.ign-credits li a {
	text-decoration: none;
	width: 100%;
	padding: 4px 3%;
}

.ign-credits li a:hover {
	background: #f2f5ee;
	color: #293237;
}

.ign-credits li ul li {
	padding-left: 45px;
	list-style: none;
}

.ign-menu li {
	list-style: none;
}

#ign-btm-block {
	padding: 0 14px 5px;
	background: transparent;
	border-bottom: 1px solid #ccc;
	color: #293237;
}

#ign-btm-block a {
	color: #293237;
}

#ign-right {
	float: right;
	margin-bottom: 20px;
	padding: 0 5px;
}

#ign-right a {
	color: #293237;
	text-decoration: none;
}

#ign-right a:hover {
	color: #293237;
	text-decoration: underline;
}

#ign-right h2,#ign-right h3 {
	color: #616A73;
	border-bottom: 1px dashed #ccc;
	margin: 25px 0 10px;
	padding: 0 0 8px;
}

.ign-footer {
	clear: both;
	width: 100%;
	height: 50px;
	margin-top: 50px;
	padding-top: 5px;
	border-top: 1px solid silver;
}

.ign-inner {
	width: 900px;
	margin: 0 auto;
}

.ign-footer p {
	float: left;
}

.ign-footer a {
	color: #A0A3A6;
	text-decoration: none;
}

.ign-footer a:hover {
	color: #ccc;
	text-decoration: underline;

}